<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301f16t09.unter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainGUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receive Wi-Fi connection state changes -->
        <receiver android:name=".WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CreateNewUserUIActivity"
            android:label="@string/title_activity_create_new_user_ui" />
        <activity
            android:name=".EditProfileUIActivity"
            android:label="@string/title_activity_edit_profile_ui" />
        <activity
            android:name=".MainScreenUIActivity"
            android:label="@string/title_activity_main_screen_ui"
            android:launchMode="singleTop" />
        <activity
            android:name=".MyRideOffersUIActivity"
            android:label="@string/title_activity_my_ride_offers_ui" />
        <activity
            android:name=".MyRideRequestsUIActivity"
            android:label="@string/title_activity_my_ride_requests_ui" />
        <activity
            android:name=".ProvideARideUIActivity"
            android:label="@string/title_activity_provide_aride_ui" />
        <activity
            android:name=".RequestARideUIActivity"
            android:label="@string/title_activity_request_aride_ui" />
        <activity
            android:name=".RequestDetailsUIActivity"
            android:label="@string/title_activity_request_details_ui" />
        <activity
            android:name=".RideOfferDetailsUIActivity"
            android:label="@string/title_activity_ride_offer_details_ui" />
        <activity
            android:name=".RidersRequestDetailsPostUIActivity"
            android:label="@string/title_activity_riders_request_details_post_ui" />
        <activity
            android:name=".RidersRequestDetailsPreUIActivity"
            android:label="@string/title_activity_riders_request_details_pre_ui" />
        <activity android:name=".ViewProfileUIActivity" />

        <!--activity<service android:name=".MyFirebaseMessagingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--<service android:name=".MyFirebaseInstanceIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <activity android:name=".NotificationsActivity"></activity>
    </application>

</manifest>